.checkModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  max-width: 550px;
}
.checkModal__about {
  text-align: center;
}
