.header{
  position: relative;
}
.header__logo {
  position: absolute;
  top: -30px;
  left: 42%;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header__actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.header__title {
  font-size: 28px;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  padding: 0px 40px;
}
.header__subtitle {
  font-weight: 400;
  color: var(--gray);
  text-align: center;
}
.header__bookmark {
  display: none;
}
/* BOOKMARK */
.btn-bookmark {
  color: var(--secondary);
}
.btn-bookmark .icon-bookmark circle {
  fill: #2f2f2f;
}
.btn-bookmark .icon-bookmark path {
  fill: #b1b1b1;
}
.btn-bookmark:hover .icon-bookmark circle {
  fill: var(--gray);
}

/* BOOKMARKED */
.btn-bookmarked {
  color: var(--primary);
}
.btn-bookmarked .icon-bookmark circle {
  fill: var(--primary);
}
.btn-bookmarked .icon-bookmark circle {
  fill: var(--primary);
}
.btn-bookmarked:hover {
  color: var(--primary-active);
}
.btn-bookmarked:hover .icon-bookmark circle {
  fill: var(--primary-active);
}

@media only screen and (min-width: 600px) {
  .header__actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
  .header__bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 0px;
    padding-right: 30px;
    background-color: hsl(0, 0%, 95%);
  }
  .header__bookmark_mobile {
    display: none;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  .btn-bookmarked {
    color: var(--primary);
    background-color: hsl(0, 0%, 95%);
  }
}
