.header__logo {
  position: absolute;
  top: -30px;
  left: 50%;
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header__actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.header__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
}
.header__subtitle {
  font-weight: 400;
  color: var(--gray);
}
.header__bookmark {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 0px;
  padding-right: 30px;
}
