.modal__close {
  align-self: flex-end;
}
.modalCard__title:hover {
  color: var(--primary);
}
.modalCard__headerLeft {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.modalCard {
  display: flex;
  flex-direction: row;
}
.modalCard__selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: solid 1px var(--extralightgray);
  border-radius: 50%;
}
.modalCard__selected {
  background-color: var(--primary);
  width: 22px;
  height: 22px;
}
.modalCard__notselected {
}
