.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 150px;
  height: 350px;
  background-color: rgb(209, 109, 109);
}
.nav__logo {
  font-size: 15px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.nav__menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.menu__item {
  color: white;
  cursor: pointer;
}
