.nav {
  background-color: rgb(0, 0, 0);
  background-image: url("image-hero-mobile.jpg");
  background-position: center;
  height: 500px;
}
.nav__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.nav__logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
.nav__menu {
  display: none;
}
.nav__menuBurger {
  position: absolute;
  display: none;
  background-color: white;
  top: 100px;
  left: 30px;
  border-radius: 30px;
  border: var(--extralightgray) 1px solid;
  flex-direction: column;
  width: calc(100% - 60px);
}
.menu__itemBurger {
  color: black;
  cursor: pointer;
  height: 75px;
  padding-left: 25px;
  font-size: 25px;
  display: flex;
  align-items: center;
  border-bottom: var(--extralightgray) 1px solid;
}
.menu__itemBurger:nth-child(3) {
  border-bottom: 0px;
}
.nav__menuBurger--show {
  display: block;
}
.nav__menuBurger--hide {
  display: none;
}
@media only screen and (min-width: 600px) {
  .nav {
    background-image: url("image-hero-desktop.jpg");
    height: 400px;
  }
  .nav__navbar {
    padding: 30px;
  }
  .nav__logo {
    font-size: 25px;
  }
  .nav__menuBurger,
  .nav__menuBurgerIcon {
    display: none;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .menu__item {
    color: white;
  }
  .nav__menuBurger--show {
    display: none;
  }
}

@media only screen and (min-width: 1050px) {
  .nav__navbar {
    padding: 35px 170px;
  }
}
