.project {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 45px;
  padding-top: 45px;
}
.project__cards {
  margin-bottom: 15px;
}
.overlay {
  z-index: 3;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.overlay__content {
  margin: auto;
  max-width: 760px;
  padding-top: 180px;
  overflow: auto;
}

.modal-block {
  display: block;
}
.modal-none {
  display: none;
}
